---
import BaseLayout from "@/layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric', month: 'short', day: 'numeric', timeZone: 'UTC'
}).format(new Date(frontmatter.pubDate));
---

<BaseLayout>
  <section>
    <div class="py-16 max-w-3xl mx-auto">
      <h1 class="text-4xl text-balance font-medium font-display text-base-900">
        {frontmatter.title}
      </h1>
      <p class="mt-4 text-base-900 text-sm text-balance">
        <em>{frontmatter.description}</em>
      </p>
      <div class="flex flex-col justify-between mt-4 md:flex-row">
        <p class="text-xs text-base-900">
          {formattedDate} — {frontmatter.author}
        </p>
        <div class="flex gap-3">
          {
            frontmatter.tags.map((tag) => (
              <a href={`/tags/${tag}`} class="text-xs font-medium text-base-900 hover:text-base-500">
                {tag}
              </a>
            ))
          }
        </div>
      </div>

      <div class="prose prose-base max-w-none w-full mt-12">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
